.center-box{
    width: 780px;
    background-color: #190080;
    display: flex;
    padding: 20px;
}
.center-item{
    flex: 1;
    height: 75px;
    width: 75px;
    margin: 50px 350px 50px 350px;
    background-color: #fae4b5;
}